.wishlist {
    width: 100%;
    /* border: 1px solid black; */
}

.wishlistcontianer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}

.empty {
    text-align: center;
}

.empty img {
    width: 70%;
}

@media screen and (max-width: 700px) {
    .wishlist {
        margin: 0 30px;
    }
}