.thumbnails {
    display: flex;
    /* margin-top: 10px; */
    margin: 0 10px;
    align-items: center;
    overflow: scroll;
    flex-direction: column;
    width: 100px;
    justify-content: space-between;
}

@media screen and (max-width: 500px) {
    .thumbnails {
        height: 250px;
        margin: 0;
    }
}