.card{
    width: 250px;
    /* height: 350px; */
    border: 1px solid rgba(0, 0, 0, 0.4);
    border-radius: 15px;
    overflow: hidden;
}
.card img{
    width: 100%;
    padding: 0;
    margin: 0;
}
.details{
    /* border: 1px solid black; */
    margin: 0 10px 10px 10px;
}
.hed{
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 600;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    letter-spacing: 0.3px;
}
.cat{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: rgba(0, 0, 0, 0.4);
    display: block;
    width: 100%;
    text-align: left;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    text-transform: capitalize;
}
.price{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 5px;
}
.price .pp{
    font-style: normal;
    font-size: 14px;
    font-weight: 600;
    align-items: center;
    color: rgba(0, 0, 0, 0.8) ;
    border: none;
}
.price .sm{
    display: inline-block;
    font-weight: 400;
    text-decoration: line-through;
    font-size: 14px;
    color: rgba(169, 169, 169, 0.8);
}
.price .st{
    vertical-align: top;
    display: inline-block;
    color: #04ce00;
    font-size: 13px;
    font-weight: 700;
}