.carousal{
    display: flex;
    position: relative;
}
.btndivleft,.btndivright{
    position: absolute;
    z-index: 3;
    display: flex;
    height: 100%;
    align-items: center;
}
.btndivleft{
    left: 0;
}
.btndivright{
    right: 0;
}
.leftbtn,.rightbtn{
    border: none;
    display: flex;
    cursor: pointer;
}
.carousalContainer{
    overflow-y: auto;
    scroll-behavior: smooth;
}
.carousalContainer::-webkit-scrollbar{
    display: none;
}
.innerContainer{
    width: fit-content;
    display: flex;
    gap: 20px;
}