.cart{
    padding: 5px;
}

@media screen and (max-width: 960px) {
    .cartcontainer {
        flex-direction: column;
        align-items: center;
    }

    .cardcontainer {
        width: 100%;
    }

    .bill {
        width: 100%;
    }
}