.filtercontainer{
    /* border: 1px solid black; */
    position: relative;
    width: 25%;
}
.filter{
    /* border: 1px solid black; */
    width: 100%;
    padding: 0 10px;
    height: fit-content;
    position: sticky;
    top: 65px;
}

.filter h3,.filterfix h3{
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    color: #434343;
    text-transform: uppercase;
}
@media screen and (max-width: 720px) {
    .filtercontainer{
        width: 100%;
        /* border: 1px solid black; */
        position: sticky;
        top: 64px;
        background: white;
        z-index: 100;
    }
    .filter{
        /* border: 1px solid black; */
        height: fit-content;
        display: flex;
    }
}
@media screen and (max-width: 480px) {
    .filtercontainer{
        top: 44px;
    }
}