.footerCol{
    color: #ffdd00;
    min-width: fit-content;
}
.footerCol h3{
    color: #ffdd00;
    text-transform: uppercase;
    margin-bottom: 20px;
    text-align: left;
    /* font-size: 18.72px; */
    cursor: pointer;
}
.footerCol ul{
    text-align: left;
}
.footerCol li{
    list-style: none;
    color: white;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    padding: 5px 0;
    cursor: pointer;
}
@media screen and (max-width: 900px) {
    .footerCol {
        text-align: center;
    }
    .footerCol h3{
        text-align: center;
    }
    .footerCol ul{
        text-align: center;
    }
}
@media screen and (max-width: 550px) {
    .footerCol h3{
        font-size: 16px;
    }
}