.footer{
    background-color: black;
    color: white;
    padding: 0 30px;
    padding-top: 50px;
    padding-bottom: 20px;

}
.footerContainer{
    max-width: 1350px;
    margin:0 auto;
    margin-bottom: 30px;
    /* border: 1px solid white; */
    display: flex;
    justify-content: space-between;
}
.footerContainer2{
    max-width: 1350px;
    margin:10px auto;
    /* border: 1px solid white; */
    display: flex;
    justify-content: center;
}
hr{
    max-width: 1350px;
    margin: 0 auto;
}
h3{
    margin-bottom: 10px;
}
.left,.right{
    width: 50%;
}
.left img{
    width: 90%;
}
.right{
    padding:0 50px;
    border-left: 2px solid white;
}
.logos{
    margin: 5px 0;
    display: flex;
    gap: 15px;
}
.footer p{
    margin: 0 auto;
    width: fit-content;
}