.container {
    max-width: 1350px;
    margin: 20px auto;
    padding: 0 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.container img {
    width: 100%;
}

@media screen and (max-width: 720px) {
    .container {
        margin: 20px auto;
        padding: 0 15px;
        gap: 20px;
    }
}